<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="46" android:versionName="3.1.0">
    <uses-sdk android:minSdkVersion="29" />
    <application android:label="@string/app_name" android:icon="@drawable/cigcounter">

        <receiver android:name="CigCounterAppWidgetProvider" android:exported="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@layout/widgetprop" />
        </receiver>

        <service android:name="CigCounterService" android:exported="true" android:label="CigCounterService">
            <intent-filter>
                <action android:name="droid.cigcounter.CigCounterService.ACTION_BTNCLICK" />
            </intent-filter>
        </service>

        <provider android:name="CigCounterContentProvider" android:authorities="droid.cigcounter.CigCounter">
        </provider>
        
        <activity android:name="CigCounterActivity" android:exported="true" android:label="@string/app_analyzer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
